.profile {
    display: grid;
    grid-template-areas: "p d" "posts posts";
    grid-template-columns: 2fr 7fr;
}
.photo {
    grid-area: p;
    border-radius: 50px;
    margin-top: 10px;
}
.description {
    grid-area: d;
    text-align: left;
}
.posts {
    grid-area: posts;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1.2em;
}