.sidebar {
    grid-area: sidebar;
    background-color: coral;
    padding: 20px;
    font-family: serif;
    font-size: 24px;
}

.ref {
    text-decoration: none;
    color: white;
}

.active {
    font-size: 32px;
    text-decoration: none;
    color: khaki;
}